# C++ objects and libs

*.slo
*.lo
*.o
*.lai
*.so
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# Eclipse personnal stuff
/.settings/
/.cproject
/.project
/doxydoc_generation.log
/object_script.rekkix
/object_script.rekkix.Debug
/object_script.rekkix.Release
/rekkix_resource.rc
